:root{
    --Textcolor: rgb(54, 150, 153);
    --TextWhite:#fff;
    --glass:linear-gradient(to right top,rgb(255,255,255,0.7),rgb(255,255,255,0.3));
    --backgroundcolor: linear-gradient(to right top,#65dfc9,#6cdbeb);
   --weight:1500;
   --fam:Verdana, Geneva, Tahoma, sans-serif;
   --bluegrad:linear-gradient(to bottom, #6666ff 0%, #66ffff 100%);
   --gradcolor2:linear-gradient(to bottom, #80d0c7  0%,  #13547a 150%);
   --gradgentlecare:linear-gradient(to bottom, #ffc3a0  0%,  #ffafbd 100%);
   --profilecolor:linear-gradient(to right top,#82a8e2 10%,#6cdbeb 50%);
}
/* linear-gradient(to right top,#65dfc9,#6cdbeb); */
*{
    margin:0;
    padding: 0;
   
    
}
body{
    background: var(--backgroundcolor);
}
.main-container{
    width: 1200px;
    
}
@media screen and (max-width: 1200px){
.main-container{
    width:95%;
}

}
.main-head{
    margin-top: 10px;
    display: grid;
   
    justify-content: center;
    align-content: center;
    min-height:3em;
    color:rgba(29, 29, 126, 0.425);
    font-weight: var(--weight);
    font-size: 30px;
    font-family: var(--fam);

   
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    align-content: center;
    
    
    
}
.ele1,.ele2,.ele3{
    color: var(--Textcolor);
    font-weight: var(--weight);
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;

}
.ele-1{
    background:var(--glass);
    width: 300px;
    height: 100px;
    border-radius: 2rem;
    overflow: auto;
    
    margin-right: 10px;
    
}
.ele-2{
    background:var(--glass);
    width: 300px;
    height: 100px;
    border-radius: 2rem;
    overflow: auto;
    margin-right: 10px;
    
    
    
}
.ele-3{
    background:var(--glass);
    width: 300px;
    height: 100px;
    border-radius: 2rem;
    overflow: auto;
    margin-right: 10px;
    
}
@media screen and (max-width: 1200px){
    .ele-1,.ele-2,.ele-3{
        width:95%;
    }
    
    }

h1,h2,h3{
    color: rgb(54, 150, 153); ;
    font-weight: var(--weight);
}

.around{
    background: var(--glass);
    color: var(--TextWhite);
    padding: 10px;
    border-radius: 3rem;
    width: 200px;
    height: 50px;
   
   

}
.img-connect{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-size: cover;

}
.atext{
    text-decoration:none;
    color: var(--TextWhite);
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    font-family: var(--fam);
    font-weight: var(--weight);
    
}

.Intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1200px;
     
}
    

.sidebar{
    background: var(--profilecolor);
    
    float: right;
    margin: 0;
    width:20%;
    height:300px;
    font-weight: var(--weight);
    z-index: 0;

}
.exp-head{
    color: var(--Textcolor);
    font-family: var(--fam);
}
.profile{
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-size: cover;
    display: block;
    z-index: 3;
}
.content-intro{
    background: var(--glass);
    width: 80%;
    height: 300px;
    font-family: var(--fam);
    color: var(--Textcolor);  
    
}
.text-intro{
    margin-top: 40px;
}
.sidebar-text{
    padding: 7px;
    
    color: white;
    font-weight: var(--weight);
    font-family: var(--fam);

}
@media screen and (max-width: 1200px){
    .Intro,.sidebar,.content-intro{
        width:75%;
    }
    }
.about-image{
    width: 70px;
    height: 60px;
    border-radius: 10px;
    background-size: cover;

}
.exp1{
    
    width: 30px;
    height: 50px;
    border-radius: 10px;
    background-size: cover;


}
.exp-head{
    padding:10px;
}
.about{
    padding: 20px;
}
.extra-projects{
    margin-top: 50px;
    background: var(--glass);
    width: 90%;
    height: 70%;
    border-radius: 2rem;
}
.e-head{
    font-weight: var(--weight);
    color: var(--TextWhite);
    font-family: var(--fam);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--profilecolor);
    height: 100%;
    width: 30%;
    border-radius: 2rem;
}
.about-head,.projects-head,.others-head{
    font-family: var(--fam);
    font-weight: var(--weight);
    color: var(--Textcolor);
    padding: 30px;
}
.about-content,.others-content{
    font-family: var(--fam);
    color: var(--Textcolor);
    padding: 3px;
}


.s1{
   
    width: 90%;
    height: 70%;
    background: var(--glass);
    margin-top: 30px;
    border-radius: 2rem;
    margin: auto;
    

}
.s2{
    
    
    margin: auto;
    width: 90%;
    height: 70%;
    background: var(--glass);
    margin-top: 30px;
    border-radius: 2rem;
}
.s3{
    
    margin: auto;
    width: 90%;
    height: 70%;
    background: var(--glass);
    margin-top: 30px;
    border-radius: 2rem;
}
.s4{
 
    margin: auto;
    width: 90%;
    height: 20%;
    background: var(--glass);
    margin-top: 30px;
    border-radius: 2rem;
}
.exp{
    margin-top: 70px;
    border-radius: 2rem;
    background: var(--glass);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;

}

.projects-content{
    color: var(--Textcolor);
    font-family: var(--fam);
}
.project1,.project2{
    
    padding: 5px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
}
.p1{
    text-decoration: none;
    color: var(--Textcolor);
}
.projects-head{
    color: var(--TextWhite);
    font-weight: var(--weight);
}
.img-down{
    width: 30px;
    height: 20px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.git,.linked{
    width: 25px;
    height: 25px;
    background-size: cover;
}
.contact-head{
    font-weight: var(--weight);
    font-family: var(--fam);
    color: var(--TextWhite);
    padding: 20px;
   
}
.contact{
    background:var(--glass);
    width: 90%;
    height:30%;
}
.extra-exp{
    margin: auto;
    background:var(--glass);
    width: 90%;
    height: 70%;
    border-radius: 2rem;
    color: var(--Textcolor);
    font-family: var(--fam);
   

}
.exp2{
    padding: 10px;
}
.projects-content2{
    padding: 20px;
    color: var(--Textcolor);
    font-family: var(--fam);

}

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
/* laptop */
@media(max-width:1440px){
    html{
        font-size: 70%;
    }
    .content-intro{
        
        width: 80%;
        height: 300px;
        padding: 20px;
         
        
    }
    .sidebar{
        width: 80%;
        height: 300px;
        padding: 20px;

    }
    .profile{
        padding: 20px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-size: cover;
        display: block;
        z-index: 3;
    }
    .projects-content2{
        padding: 50px;
        color: var(--Textcolor);
        font-family: var(--fam);
    
    }
    .project1{
        width: 350px;
        height: 200px;
    }
    .extra-exp{
        padding: 30px;
    }
    .s1,.s2,.s3,.s4{
        height: 70%;
    }

}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
/* mobile*/
@media(max-width:360px) {
    html{
        font-size: 70%;
    }
    .content-intro{
        
        width: 80%;
        height: 200px;
        padding: 20px;
         
        
    }
    .sidebar{
        width: 20%;
        height: 200px;
        padding: 20px;

    }
    .profile{
        padding: 0px;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-size: cover;
        display: block;
        z-index: 3;
    }
    .projects-content2{
        padding: 50px;
        color: var(--Textcolor);
        font-family: var(--fam);
    
    }
    .project1,.project2{
        width: 100px;
       
        height:100px;
    }
    .extra-exp{
        height: 50%;
        width: 90%;
        padding: 30px;
    }
    .s1,.s2,.s3,.s4{
        height: 70%;
    }
    .sidebar-text{
        padding: 7px;
        
        color: white;
        font-size: 5px;
        font-family: var(--fam);
    
    }
    .around{
        width: 90%;
        height: 20%;
    }
    .img-connect{
        width: 20px;
        height: 20px;
        float: left;
        height:auto;
    }
    .atext{
        font-size: 10px;
       
    }

}

@media(max-width:600px) {
    html{
        font-size: 70%;
    }
    .project1,.project2{
        width: 60%;
        height:30%;
    }
    .profile{
        width: 40%;
        height:20%;

    }
}

@media(max-width:769px) {
    html{
        font-size: 50%;
    }
    .project1,.project2{
        width: 60%;
        height:30%;
    }
    .profile{
        width: 40%;
        height:20%;

    }
    .around{
        width: 90%;
        height: 20%;
    }
    .img-connect{
        width: 0px;
        height: 0px;
        padding: 0px;
       
    }
    .atext{
        font-size: 8px;
        
       
       
    }
}
